.header {
    flex: 0.2;
    background-image: linear-gradient(to right , rgba(purple , 0.6) , rgba(rgb(196, 61, 196) , .5)) , url("../img/mount.jpg");
    background-size: cover;
    background-position: center;
    padding: 0 1rem;
    padding-top: 4rem;
    color: #fff;
    position: relative;

    @media only screen and (max-width : $bp-small) {
        text-align: center;
     }

    &__day {
        font-size: 2.2rem;
        font-weight: 500;
    }

    &__date {
        font-size: 1.2rem;
        color: lightgray;
    }

    &__btn {
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 2rem !important;
        border: none;
        background: transparent;
        color: #fff;

        @media only screen and (min-width : $bp-small) {
            display: none;
         }
    }
}
.drawerStyle  {
    width : 0;
    background-color : #fff;

    @media only screen and (min-width : $bp-small) {
        display: none;
     }
}