.sidebar {
    flex: 0.3;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media only screen and (max-width : $bp-small) {
        display: none;
        font-size: 50%;
     }
   
    &__avatar {
        height: 4.5rem !important;
        width: 4.5rem !important;
        margin: 0 auto;
        margin-top: 1rem;

        @media only screen and (max-width : $bp-small) {
            height: 3rem;
            width: 3rem;
         }
    }

    &__username {
        font-size: 1.3rem;
        text-align: center;
        font-size: 400;
        padding: .5rem 3rem;

        @media only screen and (max-width : $bp-small) {
            padding: .5rem 1rem;
            width: 70%;
            margin: 0 auto;
         }
    }

    &__nav {
        margin-top: -5rem;

        @media only screen and (max-width : $bp-small) {
            margin-top: 1.5rem;
         }
    }

    &__link {

        &-no {
            font-size: .8rem;
            color: #606060;
            font-weight: 600;
        }

        &-text {
            margin-left: .5rem;
        }
    }

    &__nav-list {
        list-style: none;
    }

    &__nav-link {
        display: flex;
        font-size: 1rem !important;
        align-items: center;
        padding: .65rem 1rem;
        cursor: pointer;
        justify-content: space-between;
        text-decoration: none;
        color: black;

        &-active {
            background-color: rgb(212, 93, 212);
            font-weight: 500 !important;
        }

        &:hover {
            font-weight: 500 !important;
            background-color: rgb(212, 93, 212);
        }
    }

    &__link-name {
        display: flex;
        align-items: center;
    }

    &__legal {
        font-size: .7rem;
        color: #606060;
        font-weight: 600;
        text-align: center;
        padding: .5rem 1.5rem;
    }
}