@import "styles/AddTask";
@import "styles/button";
@import "styles/Header";
@import "styles/sidebar";
@import "styles/sidebarRow";
@import "styles/Task";


.App {
   width: 50rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
    display: flex;
    box-shadow: 2rem 2rem 4rem rgba($color: #000000, $alpha: 0.6);

   &__tasks {
        flex: 0.75;
   }
}